.directory
.env
.env.local
.env.*.local
node_modules
# Tauri
src-tauri/target/
src-tauri/gen/
.tauri/

# Strapi
strapi/.tmp/
strapi/build/
strapi/dist/
strapi/.cache/
strapi/public/uploads/asweb/.directory


# IDEs
.idea
.vscode
*.swp
*.swo
.DS_Store