site_name: Arkadaş ERP - Kullanıcı Kılavuzu
site_description: Arkadaş Özel Eğitim ERP Sistemi Dokümantasyonu
site_author: Arkadaş Özel Eğitim
site_url: https://docs.arkadasozelegitim.com

repo_name: brnakblt/arkadasozelegitim
repo_url: https://github.com/brnakblt/arkadasozelegitim

theme:
  name: material
  language: tr
  palette:
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Koyu moda geç
    - scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Açık moda geç
  font:
    text: Inter
    code: Fira Code
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

plugins:
  - search:
      lang: tr

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Ana Sayfa: index.md
  - Başlarken:
    - Kurulum: getting-started/installation.md
  - Sistem Mimarisi:
    - Genel Bakış: architecture/system-architecture.md
  - API Referansı:
    - API Dokümantasyonu: api/index.md
  - Deployment:
    - Kurulum Rehberi: deployment/index.md
  - Destek:
    - SSS: support/faq.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/brnakblt/arkadasozelegitim
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/arkadasozelegitim
  generator: false

copyright: Copyright &copy; 2024 Arkadaş Özel Eğitim ve Rehabilitasyon Merkezi
